<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Commande validée !</h1>
    <p>
      Ton plat a été validé par le cook suivant : <%= @cook.email %>.
    </p>
    <p>
     Il ne te reste plus qu'à payer pour recevoir tes plats!
    </p>
    <p>
      Pour régler ta commande tu peux accéder à ton panier via: <%= @url %>.
    <p> À très vite sur Cookadom.fr !
  </body>
</html>