<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Commande validée !</h1>
    <p>
      Votre commande a été validée par le Cook suivant : <%= @user.email %>.
    </p>
    <p>
     Il ne vous reste plus qu'à payer pour recevoir vos plats!
    </p>
    <p>
      Pour régler votre commande vous pouvez accéder à votre panier via: <%= @url %>.
    <p> À très vite sur Cookadom.fr !
  </body>
</html>