<div id="atachement-photos">
  <% if cook.avatar.attached? %>
      <%=image_tag(cook.avatar, alt: cook.avatar.name)%>
  <% else %>
      <p>Aucun avatar</p>
  <% end %>
</div>

<%= form_tag cook_avatars_path(cook.id) , multipart: true do |f|%>
  <%= file_field_tag :avatar, id:"fileInput", accept:"image/*" %>
  <%= submit_tag "ajouter", class: "btn btn-primary", id:"cropp" %>
<% end %>
