<div class="container">
  <h1 class="text-center text-primary my-4"> Vos conversations </h1>

  <div class="col-8 offset-2 border border-primary p-4 alert-secondary rounded-1">
    <% @conversations.each do |conversation| %>
      <p>
          <%= link_to "#{conversation.subject}", conversation_path(conversation) %> - 
          <% conversation.recipients.each do |recipient| %>
            <%= recipient.name  if recipient.id != current_user.id %>
          <% end %> -
          <em class="text-muted"><%= conversation.updated_at.strftime("%m/%d à %I:%M") %></em>
        
      </p>
    <% end %>
  </div>
</div>