<div class="container">
  <h1 class="text-center text-primary mx-4"> Nouvelle conversation </h1>
  <div class="col-8 offset-2 d-flex-center mt-4">
    <%= form_tag conversations_path(user_id: @recipient), method: :post, class: "d-flex-center flex-column gap-5" do %>
      <div>
        <%= text_field_tag :subject, nil, size: 40, placeholder: "Sujet", autocomplete: "off"%>
      </div>

      <div>
        <%= text_area_tag :body , nil, size: "50x10",  placeholder: "Votre message ici ...", autocomplete: "off" %>
      </div>
      
      <%= submit_tag :Envoyer, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>