<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Un nouveau cuisinier en puissance !</h1>
    <p>
      Un utilisateur a demandé à devenir cuisinier en utilisant l'e-mail suivant : <%= @user.email %>.
    </p>
    <p> À très vite sur Cookadom.fr !
  </body>
</html>