<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Un nouveau cuisinier Cookadom en puissance !</h1>
    <p>Un utilisateur a demandé à devenir cuisinier !</p> 
    <p>Voici son e-mail : <%= @user.email %>.</p>
    <p>Pour rappel, l'utilisateur recevra un mail une fois votre réponse validée.</p>
  </body>
</html>