<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>La commande a bien été payée !</h1>

    <p>
      Voici les plats que <%= @user.email%> a payés :  
      <%= @dishes.each do |dish|%>
      <%= dish.name%>
      <%= OrderDish.where(cart_id: @cart.id, dish_id: @dish.id).quantity%>
      <% end %>
    </p>
    
    <p> À très vite sur Cookadom.fr !</p>
  </body>
</html>