<% dish = order_dish.dish %>
<div class="row g-0 mt-5 position-relative shadow-lg shadow-lg border-top">
  <img class="col-4 img-fluid rounded-4 " src="https://p8.storage.canalblog.com/83/02/467618/31300273.jpg" alt="...">
  <div class="col-8 d-flex flex-column justify-content-around">
    <h6 class="card-title text-center col-9 ps-1  fs-6"><%= dish.name %> x <%= order_dish.quantity %></h6>
    <div class="row add-delete px-3">
      <div class="col d-flex-center">
        <div class="fw-bold fs-7"><%= dish.price_euro %></div>
      </div>
    </div>
  </div>
  <% if cart.status == "pre_validation" %>
    <div class="col-1 position-btn-close d-flex-center">
      <%= link_to "", order_dish_path(order_dish.id), method: :delete, class:"btn-close p-00 fs-10"%>
    </div>
  <% end %>
</div>