<div class="container-fluid">
  <div class="row d-flex justify-content-around">
    <%= render "carts/index_carts/pre_validation", cart_pre_validation: @cart_pre_validation, cart: @cart%>
    <%= render "carts/index_carts/validation", carts_validation: @carts_validation%>
    <%= render "carts/index_carts/post_validation", carts_post_validation: @carts_post_validation%>
  </div>
</div>

<% content_for :title_page do %>
<title>Cookadom - Votre panier</title>
<% end %>

