  <div class="row">
    <div class="mt-5 mb-2 col-12 col-md-10">
      <%= form_tag(dishes_path, method: :get, class:"input-group")  do %>
        <%= text_field_tag(:search, params[:search],placeholder:"Rechercher un plat par son nom ou ses ingrédients",class:"form-control col-12 col-md-9") %>
        <%= submit_tag ("Rechercher") , class:"btn btn-primary col-md-2 me-2" %>
      <% end %>
    </div>
  
    <div class="mt-5 mb-2 col-12 col-md-2 text-center">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Recherche par ville
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <% if dishes_cities %>
          <% dishes_cities.each do |city| %>
            <li><%= link_to city.name, dishes_path(city_id: city.id), class:"dropdown-item" %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>