<section class="container">
  <div class="row">
    <div class="mt-5 mb-5">
      <%= form_tag(dishes_path, method: :get, class:"input-group")  do %>
        <%= text_field_tag(:search, params[:search],placeholder:"Search dish by name or ingredients",class:"form-control col-md-9") %>
        <%= submit_tag ("Search") , class:"btn btn-primary col-md-2 mx-2" %>
      <% end %>
    </div>
    <% @dishes.each do |dish| %>
        <%= render 'card_index', dish: dish %>
    <% end %>
  </div>
</section>