
<div class="jumbotron jumbotron-fluid bg-stripe-success p-5 d-flex justify-content-center juf row text-center">
  <h2 class="col-12 text-primary ">Commande payé avec succès!</h2>
  <p class="col-12 text-secondary ">Il ne vous reste plus qu'à attendre vos plats chez-vous!</p>

  <div class="container row my-5 d-flex justify-content-center ">
    <h1 class="col-12 text-primary m-5 text-center"> Merci ! </h1>
    <p class="col-6 text-start">Voici le détail de votre commande:</p>
  </div>
  <div class="container mb-3 d-flex justify-content-center">
    <div class="col-7">
      <div class="row g-0 position-relative shadow-lg shadow-lg">
        <img class="col-4 img-fluid rounded-4 " src="https://p8.storage.canalblog.com/83/02/467618/31300273.jpg" alt="...">
        <div class="col-8 d-flex flex-column justify-content-around">
          <h6 class="card-title text-center col-9 ps-1  fs-6">Miauouu le bon chat</h6>
          <div class="row add-delete px-3">
            <div class="col d-flex-center">
              <div class="fw-bold mb-4 fs-7">34.47€</div>
            </div>
          </div>
        </div>
        <div class="col-1 position-btn-close d-flex-center">
          <a class="btn-close p-00 fs-10" aria_label="Close" data-remote="true" rel="nofollow" data-method="delete" href="/cart_items/52"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container mb-3 d-flex justify-content-center">
    <div class="col-7">
      <div class="row g-0 position-relative shadow-lg shadow-lg">
        <img class="col-4 img-fluid rounded-4 " src="https://p8.storage.canalblog.com/83/02/467618/31300273.jpg" alt="...">
        <div class="col-8 d-flex flex-column justify-content-around">
          <h6 class="card-title text-center col-9 ps-1  fs-6">Miauouu le bon chat</h6>
          <div class="row add-delete px-3">
            <div class="col d-flex-center">
              <div class="fw-bold mb-4 fs-7">34.47€</div>
            </div>
          </div>
        </div>
        <div class="col-1 position-btn-close d-flex-center">
          <a class="btn-close p-00 fs-10" aria_label="Close" data-remote="true" rel="nofollow" data-method="delete" href="/cart_items/52"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="container col-5 my-5 d-flex justify-content-center">
    <p> Montant total de la commande est de: <%=number_to_currency(@payment_intent.amount_received / 100.0, unit: '€', separator: ',', delimiter: "", format: "%n %u")%>.</p>
  </div>
</div>