<div id="atachement-photos">
    <% if dish.photo.attached? %>
        <%=image_tag(dish.photo.variant(resize: "400x300^", crop: '300x200+50+50'), alt: dish.name)%>
    <% else %>
        <p>Aucune photo.</p>
    <% end %>
</div>

<input type="button" id="btnCrop" value="Valider" class="btn-warning d-none" />

<%= form_tag cook_dish_photos_path(dish.id) , multipart: true do |f|%>
    <p><%= file_field_tag :photo, id:"fileInput", accept:"image/*" %></p>
    <p><%= submit_tag "ajouter", class: "btn btn-primary", id:"cropp" %></p>
<% end %>



