<div class="stat-method-block mt-5">
<style>
.chart{
  display:table;
  table-layout: fixed;   
  width:100%;
  max-width:100%;
  height:200px;
  margin:0 auto;
}  
  .chart li{
    position:relative;
    display:table-cell;
    vertical-align:bottom;
    height:100px;
  }
  
 li span{
    margin:0 1em;
    display: block;
  background-color:#fa6400;
    animation: draw 1s ease-in-out;

  }
  
   span:before{
      position:absolute;
      left:0;right:0;top:100%;
      padding:5px 1em 0;
  		display:block;
      text-align:center;
      content:attr(title);
      word-wrap: break-word;
    }
span:hover {
    opacity:0.5;
}

span:hover:before {
    content:attr(order_number);
}
#count{opacity:0}
@keyframes draw{
  0%{height:0;} 
}

</style>
<% mounth_stats = [["Janvier", 0], ["Fevrier", 0], ["Mars", 0], ["Avril", 0], ["Mai", 0], ["Juin", 0], ["Juillet", 0], ["Aout", 0], ["Septembre", 0], ["Octobre", 0], ["Novembre", 0], ["Decembre", 0]]%>
<% @carts.each do |cart|%>
  <% mounth_stats[cart.updated_at.strftime('%m').to_i - 1][1] += 1 %>
<% end %>

<% max = 0 %>
<% mounth_stats.each do |mounth| %>
  <% if mounth[1] > max %>
    <% max = mounth[1] %>
  <% end %>
<% end %>

<ul class="chart">
  <% mounth_stats.each do |mounth| %>
    <li>
      <span style="height:<%= mounth[1] * 100 / max %>%" title="<%= mounth[0] %>" order_number="<%= mounth[1] %> commandes" ></span>
      <p class="text-center"><%= mounth[1] %></p>
    </li>
  <% end %>
</ul> 

</div>
                
