<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Votre demande a bien été reçue !</h1>
    <p>
      Votre demande pour devenir Cook a bien été prise en compte et est en attente de validation par un admin.
    </p>
    <p> À très vite sur Cookadom.fr !
  </body>
</html>