<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Vous avez reçu une commande !</h1>

    <p>
      Rendez-vous sur <%= @url %> pour la valider !
    </p>
    
    <p> À très vite sur Cookadom.fr !</p>
  </body>
</html>