#canvas {
    height: 300px;
    width: 300px;
    background-color: #ffffff;
    cursor: default;
    border: 1px solid black;
}

div.result {
    width: 20px;
}

.cropper-container {
    width: 100px !important;
}

.max-w-33 {
    max-width: 100% !important;
}

.unavailable {
    filter: grayscale(1);
}

.avoid-clicks {
    pointer-events: none;
}

//STARS RATING
.rating-list a {
    float: right;
    color: #ddd;
    padding: 10px 5px;
}

.rating-list a:hover,
.rating-list a:hover~a {
    color: var(--bs-primary);
}

.rating-list {
    display: inline-block;
    list-style: none;
}