// Place all the styles related to the Static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bg_static_pro {
    height: 100vh;
    background-image: linear-gradient( rgba(241, 236, 234, 0.151), rgba(141, 141, 141, 0.45)), url('kitchen-utensils.jpg');
    background-position: center, bottom;
    background-size: cover;
    background-repeat: no-repeat, repeat;
}