<p>Bonjour <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous vous envoyons ce mail afin de vous confirmer la modification de votre email : <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous vous envoyons ce mail afin de vous confirmer la modification de votre email : <%= @resource.email %>.</p>
<% end %>
