<p>Bonjour <%= @resource.email %>!</p>

<p>Une requête de changement de mot de passe a été fait. Vous pouvez le faire grâce au lien ci-dessous.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pasà l'origine de cette requête, vous pouvez ignorer ce mail.</p>
<p>Votre mot de passe demeurera inchangé jusqu'à ce que vous cliquiez sur le lien au-dessus et en créez un nouveau.</p>
